{% if current_user.is_admin %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Router Manager</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/router-manager.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-dashboard.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <script>
        if (localStorage.getItem('theme') === 'dark') {
            document.body.classList.add('dark-mode');
        }
    </script>
    <nav class="sidebar">
        <div class="sidebar-brand">
            <i class="fa-solid fa-wifi"></i>
            <span class="link-text">Router Manager</span>
        </div>
        <ul class="sidebar-menu">
            <li class="{{ 'active' if request.endpoint == 'dashboard' else '' }}">
                <a href="{{ url_for('dashboard') }}">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="link-text">Dashboard</span>
                </a>
            </li>
            <li class="{{ 'active' if request.endpoint == 'settings' else '' }}">
                <a href="{{ url_for('settings') }}">
                    <i class="fa-solid fa-gear"></i>
                    <span class="link-text">Configurações</span>
                </a>
            </li>
            <li class="{{ 'active' if request.endpoint == 'dashboard_admin' else '' }}">
                <a href="{{ url_for('dashboard_admin') }}">
                    <i class="fa-solid fa-user-shield"></i>
                    <span class="link-text">Gerenciar usuários</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
                <button type="button" class="btn-dark-mode-toggle" title="Trocar modo de exibição">
                    <i class="fa-solid fa-moon"></i>
                    <span class="link-text">Modo escuro</span>
                </button>
                <button type="button" onclick="window.open('https://veronline.com.br/contato/', '_blank')"class="btn-support" title="Suporte">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <span class="link-text">Suporte</span>
                </button>
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="btn-sidebar-logout" title="Sair">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-text">Sair</span>
                </button>
            </form>
            <span class="app-version">v1.0.0</span>
        </div>
    </nav>

    <main class="main-content">
        <header class="top-bar">
            <div class="user-welcome">
                <h1>Painel de Controle</h1>
                <p>Visão geral de usuários</p>
            </div>
            <div class="user-profile">
                <div class="avatar-circle">
                    {{ current_user.username[0] | upper }}
                </div>
                <div class="user-info">
                    <span class="name">{{ current_user.username }}</span>
                    <span class="role">{{ 'Administrador' if current_user.is_admin else 'Visualizador' }}</span>
                </div>
            </div>
        </header>

        <div class="table-container">
            <div class="table-header">
                <div class="table-title">
                    <h2>Gerenciar Usuários</h2>
                </div>
                <button class="btn-primary" onclick="openModal()">
                    <i class="fa-solid fa-plus"></i> Novo Usuário
                </button>
            </div>
            <div class="table-responsive">
                <table class="table-users">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>ADMIN</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="fw-500">{{ user.username }}</td>
                            <td class="text-muted">{{ user.email }}</td>
                            <td class="font-mono">{{ user.is_admin}}</td>
                            <td>
                                <div class="action-buttons" style="justify-content: center;">
                                    <button class="btn-icon edit" 
                                        onclick="openEditModal(this)"
                                        data-id="{{ user.id }}"
                                        data-username="{{ user.username }}"
                                        data-email="{{ user.email }}"
                                        data-password="{{ user.password }}"
                                        data-is_admin="{{ '1' if user.is_admin else '0' }}"
                                        title="Editar">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button class="btn-icon delete" onclick="openDeleteModal('{{user.id}}')" title="Excluir">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">
                                <div class="empty-state">
                                    <div class="empty-icon">
                                        <i class="fa-solid fa-router"></i>
                                    </div>
                                    <h3>Nenhum usuário encontrado</h3>
                                    <p>Cadastre um novo usuário para começar o monitoramento.</p>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div id="userModal" class="modal-overlay">
        <div class="modal-box">
            <div class="modal-header">
                <h3>Novo Usuário</h3>
                <button class="close-modal" onclick="closeModal()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            
            <form action="{{ url_for('add_user') }}" method="POST">
                <div class="modal-body">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="flash-wrapper">
                            {% for message in messages %}
                                <div class="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                        <script>document.addEventListener("DOMContentLoaded", function() { openModal(); });</script>
                        {% endif %}
                    {% endwith %}

                    <div class="input-group">
                        <label>Nome</label>
                        <input type="text" name="username" placeholder="Nome de Usuário" required>
                    </div>

                    <div class="row-2">
                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="exemplo@email.com" required>
                        </div>
                        <div class="input-group">
                            <label>Senha</label>
                            <input type="password" name="password" placeholder="senha@123" required>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="role">Tipo de Acesso</label>
                        <select id="role" name="is_admin" required>
                            <option value="0">Visualizador (Padrão)</option>
                            <option value="1">Administrador</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-text" onclick="closeModal()">Cancelar</button>
                    <button type="submit" class="btn-primary">Criar Usuário</button>
                </div>
            </form>
        </div>
    </div>

    <div id="editModal" class="modal-overlay">
        <div class="modal-box">
            <div class="modal-header">
                <h3>Editar Usuário</h3>
                <button class="close-modal" onclick="closeEditModal()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            
            <form action="{{ url_for('edit_user') }}" method="POST">
                <div class="modal-body">
                    <input type="hidden" id="edit_id" name="id">

                    <div class="input-group">
                        <label>Nome</label>
                        <input type="text" id="edit_username" name="username" required>
                    </div>

                    <div class="row-2">
                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" id="edit_email" name="email" required>
                        </div>
                        <div class="input-group">
                            <label>Senha</label>
                            <input type="password" id="edit_password" name="password" placeholder="Digite uma senha" required>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="edit_role">Tipo de Acesso</label>
                        <select id="edit_role" name="is_admin" required>
                            <option value="0">Visualizador (Padrão)</option>
                            <option value="1">Administrador</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-text" onclick="closeEditModal()">Cancelar</button>
                    <button type="submit" class="btn-primary">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteModal" class="modal-overlay">
        <div class="modal-box modal-small">
            <div class="modal-content-center">
                <div class="icon-warning">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </div>
                <h3>Excluir Usuário?</h3>
                <p>Essa ação removerá permanentemente o usuário do banco de dados.</p>
                
                <form action="{{ url_for('delete_user') }}" method="POST">
                    <input type="hidden" id="delete_user_id" name="id">
                    <div class="modal-actions">
                        <button type="button" class="btn-secondary" onclick="closeDeleteModal()">Cancelar</button>
                        <button id="deleteConfirmBtn" type="submit" class="btn-danger">Sim, excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
    const userModal = document.getElementById("userModal");
    const editModal = document.getElementById("editModal");
    const deleteModal = document.getElementById("deleteModal");
    
    const editInputId = document.getElementById("edit_id");
    const editInputUsername = document.getElementById("edit_username");
    const editInputEmail = document.getElementById("edit_email");
    const editInputPassword = document.getElementById("edit_password");
    const editInputRole = document.getElementById("edit_role");

    const deleteInput = document.getElementById("delete_user_id");
    const deleteConfirmBtn = document.getElementById("deleteConfirmBtn");

    const loggedUserId = "{{ current_user.id }}";

    function openModal() {
        userModal.classList.add('active');
    }

    function closeModal() {
        userModal.classList.remove('active');
    }

    function openEditModal(button) {
        const data = button.dataset;

        editInputId.value = data.id;
        editInputUsername.value = data.username;
        editInputEmail.value = data.email;
        editInputPassword.value = data.password;
        editInputRole.value = data.is_admin;

        editModal.classList.add('active');
    }

    function closeEditModal() {
        editModal.classList.remove('active');
    }

    function openDeleteModal(id) {
        deleteInput.value = id;
        deleteModal.classList.add('active');

        if (String(id) === String(loggedUserId)) {
            deleteConfirmBtn.disabled = true;
            deleteConfirmBtn.title = "Você não pode excluir sua própria conta.";
            deleteConfirmBtn.style.opacity = "0.5";
            deleteConfirmBtn.style.cursor = "not-allowed";
        } else {
            deleteConfirmBtn.disabled = false;
            deleteConfirmBtn.title = "";
            deleteConfirmBtn.style.opacity = "1";
            deleteConfirmBtn.style.cursor = "pointer";
        }
    }

    function closeDeleteModal() {
        deleteModal.classList.remove('active');
    }

    window.onclick = function(e) {
        if (e.target === userModal) closeModal();
        if (e.target === editModal) closeEditModal();
        if (e.target === deleteModal) closeDeleteModal();
    }

    document.addEventListener("DOMContentLoaded", function() {
        const darkModeBtn = document.querySelector('.btn-dark-mode-toggle');
        
        if (!darkModeBtn) return;

        const darkModeIcon = darkModeBtn.querySelector('i');
        const darkModeText = darkModeBtn.querySelector('.link-text');

        function updateIcons(isDark) {
            if (isDark) {
                darkModeIcon.className = 'fa-solid fa-sun';
                darkModeText.textContent = 'Modo claro';
            } else {
                darkModeIcon.className = 'fa-solid fa-moon';
                darkModeText.textContent = 'Modo escuro';
            }
        }

        const isInitiallyDark = document.body.classList.contains('dark-mode');
        updateIcons(isInitiallyDark);

        darkModeBtn.addEventListener('click', function() {
            const isDark = document.body.classList.toggle('dark-mode');
            
            localStorage.setItem('theme', isDark ? 'dark' : 'light');
            
            updateIcons(isDark);
        });
    });
    </script>
</body>
</html>
{% endif %}