<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Roteadores</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-dashboard.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        
        <div class="top-bar">
            <div class="brand">
                <h1>Painel de Gerenciamento</h1>
                <p>Sistema de Controle de Roteadores</p>
            </div>
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="btn-logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Sair
                </button>
            </form>
        </div>

        <div class="table-card">
            <div class="card-header">
                <div class="header-content">
                    <h2>Roteadores Cadastrados</h2>
                    <span>Gerencie todos os roteadores da rede</span>
            </div>
            {% if current_user.is_admin %}
            <button class="btn-add" onclick="openModal()">
                <i class="fa-solid fa-plus"></i> Novo Roteador
            </button>
            {% endif %}
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Local</th>
                        <th>Modelo</th>
                        <th>Serial</th>
                        <th>Acesso Remoto</th>
                        {% if current_user.is_admin %}
                        <th>Ações</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for router in routers %}
                    <tr>
                        <td id="status-{{ router.id }}" class="status-cell" data-id="{{ router.id }}">
                            <span style="color: #666">
                                <i class="fa-solid fa-circle-notch fa-spin"></i> Verificando...
                            </span>
                        </td>
                        <td>{{ router.local }}</td>
                        <td>{{ router.model }}</td>
                        <td>{{ router.serial }}</td>
                        <td><a href="{{router.link}}" target="_blank" class="action-link">Acessar</a></td>
                        
                        {% if current_user.is_admin %}
                        <td>
                            <div class="action-group">
                                <a href="#" class="btn-icon btn-edit" title="Editar">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a href="#" class="btn-icon btn-delete" title="Excluir" onclick="openDeleteModal('{{router.id}}')">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% else %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="routerModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">&times;</span>
            <h2>Adicionar Novo Roteador</h2>
            <p style="color: #666; margin-bottom: 20px; font-size: 0.9rem;">Preencha os dados abaixo para registrar um equipamento.</p>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                    openModal();
                    });
                </script>
                    {% for message in messages %}
                        <p style="color: #d63031; padding: 5px; margin-bottom: 1rem; font-size: 0.9rem;">
                            {{message}}
                        </p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            <form action="{{ url_for('add_router') }}" method="POST">
                <div class = "form-group">
                    <label for="local">Local</label>
                    <input type="text" id="local" name="local" placeholder="EX: Sala de administração" required>
                </div>

                <div class="form-group">
                    <label for="model">Modelo</label>
                    <input type="text" id="model" name="model" placeholder="Ex: RUT200" required>
                </div>

                <div class="form-group">
                    <label for="serial">Número de Série</label>
                    <input type="text" id="serial" name="serial" placeholder="Ex: 1107001749" required>
                </div>

                <div class="form-group">
                    <label for="link">Link de Acesso</label>
                    <input type="url" id="link" name="link" placeholder="EX: ntc.veronline.center:8787" required>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn-confirm">Salvar Roteador</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeDeleteModal()">&times;</span>
            <h2>Confirmar Exclusão</h2>
            <p>Tem certeza que deseja remover este roteador? Esta ação não pode ser desfeita.</p>
            
            <form action="{{ url_for('delete') }}" method="POST">
                <input type="hidden" id="delete_router_id" name="id" value="">
                
                <div class="modal-footer">
                    <button type="submit" class="btn-confirm btn-delete-confirm">Confirmar</button>
                    <button type="button" class="btn-confirm btn-cancel" onclick="closeDeleteModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        const modal = document.getElementById("routerModal");

        function openModal() {
            modal.style.display = "block";
        }

        function closeModal() {
            modal.style.display = "none";
        }

        const deleteModal = document.getElementById("deleteModal");
        const deleteInput = document.getElementById("delete_router_id");

        function openDeleteModal(id) {
            deleteInput.value = id;
            deleteModal.style.display = "block";
        }

        function closeDeleteModal() {
            deleteModal.style.display = "none";
        }

        document.addEventListener("DOMContentLoaded", function() {
        const statusCells = document.querySelectorAll('.status-cell');

        statusCells.forEach(cell => {
            const routerId = cell.getAttribute('data-id');
            
            fetch(`/check_status/${routerId}`)
                .then(response => response.json())
                .then(data => {
                    let html = '';
                    if (data.status === 'online') {
                        html = '<span style="color: #28a745; font-weight: bold;"><i class="fa-solid fa-wifi"></i> ONLINE</span>';
                    } else if (data.status === 'warning') {
                        html = '<span style="color: #ffc107; font-weight: bold;"><i class="fa-solid fa-triangle-exclamation"></i> ALERTA</span>';
                    } else {
                        html = '<span style="color: #dc3545; font-weight: bold;"><i class="fa-solid fa-power-off"></i> OFFLINE</span>';
                    }
                    cell.innerHTML = html;
                })
                .catch(error => {
                    console.error('Erro ao verificar status:', error);
                    cell.innerHTML = '<span style="color: #dc3545; font-weight: bold;">Erro</span>';
                });
        });
    });

    </script>
</body>
</html>