<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Router Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='assets/router-manager.png') }}" alt="Router Manager logo" style="max-width: 200px; margin-bottom: 3px;">
        <br>
        <h1>Bem-vindo de volta</h1>
        
        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ 'alert-error' if category == 'error' else 'alert-success' }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form action="{{ url_for('login') }}" method="POST">
            <input type="email" id="email" name="email" placeholder="E-mail" required>

            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Senha" required>
                <span id="togglePassword" class="eye-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                </span>
            </div>

            <button type="submit">Conectar</button>
        </form>

        <div class="form-link">
            <p>Não tem uma conta? <a href="{{ url_for('register')}}">Registre-se aqui</a></p>
        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const passwordInput = document.querySelector('#password');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.style.color = type === 'text' ? '#0066FF' : '#9CA3AF';
        });

        document.querySelector('form').addEventListener('submit', function() {
            const flashDiv = document.getElementById('flash-messages');
            if (flashDiv) flashDiv.innerHTML = '';
        });
    </script>
</body>
</html>