<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Router Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='assets/VERONLINE-simbolo-colorido-arrendodado.png') }}" alt="VerOnline Logo" style="max-width: 75px; margin-bottom: 3px;">
            <br>
        <h1>ROUTER MANAGER</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: #d63031; padding: 5px; margin-bottom: 1rem; font-size: 0.9rem;">
                            {{message}}
                        </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <form action="{{ url_for('login') }}" method="POST">
        <input type="text" id = "email" name="email" placeholder="E-mail">

        <div class="password-container">
            <input type="password" id = "password" name="password" placeholder="Senha">
            <span id="togglePassword" class="eye-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
            </span>
        </div>

        <button type="submit">Conectar</button>
        </form>

        <div class="form-link">
            <p>Não tem uma conta? <a href="{{ url_for('register')}}">Registre-se aqui</a></p>
        </div>
    </div>
</body>
</html>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const passwordInput = document.querySelector('#password');

    togglePassword.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.style.color = type === 'text' ? '#2ea55f' : '#888';
    });
</script>